@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
    box-sizing: border-box;
}
body {
   
    margin: 0;
    font-family: "Open Sans", sans-serif;
 
    color: white;
    
    
}
.cover{
    
    position:absolute;
    top :200px;
    left:350px;

}
.background{
  
    height: 300px;
    display:flex;
    background-image: url("../img/cover.jpg");
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
 img {
    width: 175px;
    height: 175px;
    border: 10px white solid;
    position:absolute;
    top :200px;
    left:100px;

 }